<h1>
  Create powerful animations based on the Web animations API
</h1>
<h3>You must import animations. </h3>
<p>
  New to angular 4, animations must be imported manually, as they are no longer
  a part of the Angular core library. To do this, just use nmp command:
</p>
<h3>How to configure and install animations?</h3>
<h4>npm install @angular/animations@latest --save</h4>
<p>Then on app module ts, import BrowserAnimationsModule from '@angular/platform-browser/animations'</p>
<p>and add it to imports into @ngModule</p>
<h3>How use it?</h3>
<p>on your component, we need to import trigger,state,style,transition,animate,keyframes from '@angular/animations'</p>
<p>then add animations to @component</p>