<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li><a routerLink="">MyNewComponent</a></li>
  <li><a routerLink="templating">Templating</a></li>
  <li><a routerLink="binding-property">Property Binding</a></li>
  <li><a routerLink="binding-event">Event Binding</a></li>
  <li><a routerLink="styling-class-binding">Styling - Class Binding</a></li>
  <li><a routerLink="styling-style-binding">Styling - Style Binding</a></li>
  <li><a routerLink="services">Services</a></li>
  <li><a routerLink="animations">Animations</a></li>
</ul>

<router-outlet></router-outlet>
